.flashcard-section {
  border: 1px solid var(--clr-neutral-900);
  border-radius: 10px;
  background-color: var(--clr-neutral-0);
  font-weight: 500;
  color: var(--clr-neutral-900);
  height: 80vh;
}

.flashcard__checkbox-content {
  margin-top: 10px;
  vertical-align: middle;
}

.flashcard__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
}

.flashcard__container {
  padding: 1rem;
  position: relative;
}

.flashcard__content {
  background-color: var(--clr-pink-400);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 6rem; */
}

.flashcard__central-content {
  padding: 4rem 2rem;
  text-align: center;
}

.flashcard__tag {
  background-color: var(--clr-neutral-0);
  padding: 10px 12px;
  font-size: 12px;
  text-align: center;
  align-self: center;
  font-weight: 600;
  border: 1px solid var(--clr-neutral-900);
  border-radius: 20px;
}

.flashcard__question {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
  margin: 0;
}

.flashcard__button-reveal {
  border: 0;
  font-weight: 400;
  background-color: transparent;
}

.flashcard__progress-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.flashcard__progress-bar {
  width: 60px;
  height: 8px;
  border: 1px solid var(--clr-neutral-900);
  border-radius: 5px;
  background-color: var(--clr-neutral-0);
}

.flashcard__action-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
}

/*DECORATIVE ELEMENTS*/

.blue-star,
.yellow-star {
  position: absolute;
}

.blue-star {
  right: 52px;
  top: 58px;
}

.yellow-star {
  bottom: 51px;
  left: 47px;
}

/*BUTTONS AND INPUTS*/

.button-categories {
  width: 163px;
  position: relative;
  text-align: initial;
  padding-left: 1rem;
  color: var(--clr-neutral-900);
}

.button-categories::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 14px;
  right: 0rem;
  top: 0.8rem;
  transition: transform 0.2s ease-in-out;
  background: url(images/icon-chevron-down.svg) no-repeat;
  transform-box: fill-box;
  transform-origin: center;
}
.button-categories.active::after {
  transform: rotate(180deg);
}

.button--shuffle {
  position: relative;
  padding-left: 2rem;
  align-self: start;
}

.button--shuffle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  right: 3.5rem;
  top: 0.8rem;
  transition: transform 0.2s ease-in-out;
  background: url(images/icon-shuffle.svg) no-repeat;
}

.button-knowit {
  background-color: var(--clr-yellow-500);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.button-reset {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--clr-neutral-900);
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  margin-right: 8px;
}

input[type="checkbox"]:checked {
  background-image: url(images/icon-check.svg);
  background-repeat: no-repeat;
  z-index: 100;
  background-color: var(--clr-yellow-500);
  background-size: 50%, cover;
  background-position: center;
  border: none;
  border: 2px solid var(--clr-neutral-900);
}
