body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-neutral-100);
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.button-rounded {
  padding: 0.8rem 0.3rem;
  background-color: var(--clr-neutral-0);
  border-radius: var(--radius-24);
  border: 1px solid var(--clr-neutral-900);
}

.button-rounded,
.narrow {
  padding: 0.5rem 1rem;
}

.app {
  padding: 0.8rem;
}

.shadow {
  box-shadow: 1px 2px 0px var(--clr-neutral-900);
}

.shadow-thick {
  border: 2px solid #2e1401;
  box-shadow: 2px 2px 0px #2e1401;
  border-radius: var(--radius-16);
}
