body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-neutral-100);
  margin: 0;
}

/*Disable IOS blue links*/
a,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}

.btn {
  cursor: pointer;
}

.app {
  padding: 0.8rem;
}
