html {
  overflow-y: scroll;
}

/*Force scrollbar to always exist even when not visible, sorts out tabbing issue
for displaying complete list of mini flashcards*/

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-neutral-100);
  margin: 0;
}

/*Disable IOS blue links*/
a,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}

.btn {
  cursor: pointer;
}

.app {
  padding: 0.8rem;
  max-width: 1540px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .app {
    padding: 1rem 8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
}

.main-all-cards {
  display: block;
}
