body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-neutral-100);
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

.btn {
  cursor: pointer;
}

.app {
  padding: 0.8rem;
}
