body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-neutral-100);
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  padding: 8px 11px;
  background-color: var(--clr-neutral-0);
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid var(--clr-neutral-900);
}

.master-container {
  padding: 0.8rem;
}

.shadow {
  box-shadow: 1px 2px 0px var(--clr-neutral-900);
}

/*
Temp CSS for flashcard
*/

.flashcard-section {
  border: 1px solid var(--clr-neutral-900);
  border-radius: 10px;
  padding: 1rem;
  font-weight: 500;
}

.flashcard__checkbox-content {
  margin-top: 10px;
}

.button-categories {
  width: 163px;
  position: relative;
  text-align: initial;
  padding-left: 1rem;
}

.button-categories::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 14px;
  right: 0rem;
  top: 0.8rem;
  transition: transform 0.2s ease-in-out;
  background: url(images/icon-chevron-down.svg) no-repeat;
  transform-box: fill-box;
  transform-origin: center;
}
.button-categories.active::after {
  transform: rotate(180deg);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid var(--clr-neutral-900);
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url(images/icon-check.svg);
  background-repeat: no-repeat;
  z-index: 100;
  background-color: var(--clr-yellow-500);
  background-size: 50%, cover;
  background-position: center;
  border: none;
  border: 2px solid var(--clr-neutral-900);
}
