body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-neutral-100);
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

.button-rounded {
  padding: 8px 11px;
  background-color: var(--clr-neutral-0);
  border-radius: 25px;
  border: 1px solid var(--clr-neutral-900);
}

button {
  cursor: pointer;
}

.app {
  padding: 0.8rem;
}

.shadow {
  box-shadow: 1px 2px 0px var(--clr-neutral-900);
}

.shadow-thick {
  border: 2px solid #2e1401;
  box-shadow: 2px 2px 0px #2e1401;
  border-radius: 16px;
}
