.header {
  padding: 1rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}

.tabs {
  border: 1px solid var(--clr-neutral-900);
  border-radius: var(--radius-full);
  padding: 0.3rem;
  display: flex;
  gap: 1rem;
  background-color: var(--clr-neutral-0);
}

.tab {
  border: 0;
  cursor: pointer;
}

.tab--active {
  background-color: red;
  background-color: var(--clr-yellow-500);
  border: 1px solid var(--clr-neutral-900);
}
