.modal {
  position: relative;
  height: auto;
  position: fixed;
  width: 75vw;
  background-color: white;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1024px) {
  .modal {
    width: 600px;
  }
}

.modal__inner-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

@media only screen and (min-width: 1024px) {
  .modal__inner-content {
    padding: 2rem;
  }
}

.modal__deletion-inner-content {
  padding: 1rem;
}

.modal__btn-container {
  border-top: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.modal__input {
  padding: 1rem;
  border-radius: var(--radius-10);
  border: 1px solid;
}

.modal__input-label {
  color: var(--clr-neutral-900);
  font-weight: 500;
  margin: 0;
  margin-top: 0.4rem;
}

.modal__input-label {
  margin: 1rem 0 1rem 0;
}

.modal__close {
  position: absolute;
  right: 15px;
  cursor: pointer;
  border: 0;
  background: none;
}

.modal__heading {
  color: var(--clr-neutral-900);
  margin: 0;
}

/* .modal__deletion {
  width: 600px;
} */

.modal-btn-delete {
  background-color: var(--clr-yellow-500);
  border-radius: var(--radius-full);
}

.modal__deletion-message {
  margin: 0;
}

.modal__deletion-cancel .card-form label {
  margin-bottom: 0.4rem;
}

hr.solid:nth-child(3) {
  width: 100%;
}

.btn-update {
  font-weight: 500;
  background-color: var(--clr-yellow-500);
  display: inline-flex;
  align-self: flex-end;
  justify-content: center;
  gap: 0.2rem;
  cursor: pointer;
  width: 145px;
  border-radius: var(--radius-20);
  margin-top: 1rem;
}
