.statistics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  font-weight: 500;
  border: 1px solid var(--clr-neutral-900);
  border-radius: var(--radius-10);
  background-color: var(--clr-neutral-0);
  color: var(--clr-neutral-900);
  padding: 1rem;
}

.statistics__heading {
  font-weight: 600;
  font-size: 26px;
  margin: 0.5rem 0;
}

.statistics__card-content {
}

.statistics__card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 2px solid var(--clr-neutral-900);
  border-radius: var(--radius-10);
}

.statistics__card-left-content {
  margin-left: 1rem;
}

.statistics__card-icon {
  width: 30px;
  margin: 0 auto;
}

.statistics__card-icon-container {
  border-left: 2px solid var(--clr-neutral-900);
  display: flex;
  border-top-right-radius: var(--radius-8);
  border-bottom-right-radius: var(--radius-8);
}

.statistics__card--blue {
  background-color: var(--clr-blue-400);
}

.statistics__card--teal {
  background-color: var(--clr-teal-400);
}

.statistics__card--red {
  background-color: var(--clr-pink-500);
}

.statistics__card--pink {
  background-color: var(--clr-pink-400);
}

.statistics__card-number {
  font-weight: 600;
  font-size: 24px;
  /* margin-right: 1px;
  margin-top: 2.5rem;
  margin-bottom: 0px; */
}

.icon {
  width: 30px;
  height: auto;
}
