/*SECITON*/
.study {
  border: 1px solid var(--clr-neutral-900);
  border-radius: var(--radius-10);
  background-color: var(--clr-neutral-0);
  font-weight: 500;
  color: var(--clr-neutral-900);
  /* height: 80vh; */
}

.study__option {
  margin-top: 10px;
  vertical-align: middle;
}

.study__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
}

.study__checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  vertical-align: middle;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--clr-neutral-900);
  border-radius: var(--radius-6);
  cursor: pointer;
  margin: 0;
  margin-right: 8px;
}

.study__action-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
}

.study__card-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0.6rem 1rem;
  align-items: center;
  color: var(--clr-neutral-600);
}

input[type="checkbox"]:checked {
  background-image: url(images/icon-check.svg);
  background-repeat: no-repeat;
  z-index: 100;
  background-color: var(--clr-yellow-500);
  background-size: 50%;
  background-position: center;
  border: none;
  border: 2px solid var(--clr-neutral-900);
}

.flashcard {
  padding: 1rem;
  position: relative;
}

.flashcard__content {
  background-color: var(--clr-pink-400);
  border-radius: var(--radius-10);
  display: flex;
  flex-direction: column;
  min-height: 400px;
  cursor: pointer;
}

.flashcard__central-content {
  text-align: center;
  flex: 1;
  align-items: center;
  padding: 1rem;
  align-content: center;
}

.flashcard__tag {
  background-color: var(--clr-neutral-0);
  padding: 10px 12px;
  font-size: 12px;
  text-align: center;
  align-self: center;
  font-weight: 600;
  border: 1px solid var(--clr-neutral-900);
}

.flashcard__text {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
  margin: 0;
}

.flashcard__button-reveal {
  border: 0;
  font-weight: 400;
  background-color: transparent;
}

.flashcard__button-reveal--revealed {
  grid-row: 2;
}

.flashcard__progress-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.flashcard__progress-bar {
  width: 60px;
  height: 8px;
  border: 1px solid var(--clr-neutral-900);
  border-radius: var(--radius-full);
  background-color: var(--clr-neutral-0);
  overflow: hidden;
}

.flashcard__progress-bar-fill {
  background-color: var(--clr-teal-400);
  width: calc((var(--value) / 5) * 100%);
  height: 8px;
  border-radius: var(--radius-full);
}

.flashcard__progress-bar-fill--mastered {
  background-color: var(--clr-teal-400);
}

/*FLASHCARD-REVEALED*/
.flashcard__content--revealed {
  background-color: var(--clr-blue-400);
}

.flashcard__content--revealed .flashcard__central-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

/*DECORATIVE ELEMENTS*/

.flashcard__decoration {
  position: absolute;
}

.flashcard__decoration--top-star {
  right: 52px;
  top: 58px;
}

.flashcard__decoration--bottom-star {
  bottom: 51px;
  left: 47px;
}

/*BUTTONS AND INPUTS*/

.btn--categories {
  text-align: initial;
  padding-left: 1rem;
  color: var(--clr-neutral-900);
  display: inline-flex;
  gap: 4.5px;
  align-items: center;
}

.btn--shuffle {
  align-self: start;
  display: inline-flex;
  background-color: var(--clr-neutral-0);
  border-radius: var(--radius-24);
  border: 1px solid var(--clr-neutral-900);
  gap: 4.5px;
  width: 106px;
  align-items: center;
}

.btn--reset {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.btn-knowit {
  background-color: var(--clr-yellow-500);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.btn-knowit--mastered {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn__left-button,
.btn__right-button {
  border-radius: var(--radius-full);
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: transparent;
  padding-top: 4px;
}

.empty-panel {
  padding: 5.5rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.empty-panel__heading {
  margin: 0;
}

.empty-panel__sub-message {
  font-weight: 100;
}

.btn-allcards {
  width: 160px;
  padding: 0.5rem 0.2rem;
  border-radius: var(--radius-24);
}
