.toast {
  background-color: var(--clr-neutral-0);
  padding: 10px 8px;
  width: auto;
  font-size: 12px;
  text-align: center;
  align-self: center;
  font-weight: 600;
  border: 1px solid var(--clr-neutral-900);
  position: absolute;
  right: 0;
  top: 8px;
  transform: translateX(33%);
}

.toast__inner-content {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  font-size: 14px;
  color: var(--clr-neutral-900);
}

.toast__close {
  cursor: pointer;
}
