.u-rounded-pill,
.u-rounded-pill-narrow {
  background-color: var(--clr-neutral-0);
  border-radius: var(--radius-24);
  border: 1px solid var(--clr-neutral-900);
}

.u-rounded-pill {
  padding: 0.8rem 0.3rem;
}

.u-rounded-pill-narrow {
  padding: 0.5rem 1rem;
}
